.search-container{
    display: flex;
    align-items: center;
}
.search-input{
    flex:2;
    padding: 8px;
    border-radius: 8px 0px 0px 8px;
    padding-left: 16px;
}
.search-input:focus{
    outline:none;
}
.search-button{
    border-radius: 0px 8px 8px 0px;
    padding: 8px;
    flex: 1;
    background-color: rgb(39, 125, 255);
    color:white;
    cursor: pointer;
}